:root { 
--black_900_7f:#0000007f; 
--blue_gray_600_8d:#5761748d; 
--light_green_400:#99cf63; 
--black_900_3f:#0000003f; 
--blue_gray_500_87:#6e768c87; 
--blue_gray_900_87:#2e354287; 
--blue_gray_900:#2c3342; 
--gray_400:#c0c4c6; 
--blue_gray_100:#cbd0da; 
--blue_700:#2789bd; 
--lime_700:#c49644; 
--red_A200:#fc5162; 
--blue_gray_500:#6e768c; 
--light_green_400_01:#97cc63; 
--blue_gray_900_87_01:#2c334287; 
--black_900_0e:#0000000e; 
--light_green_400_03:#98cf66; 
--blue_gray_400_7e:#8592a87e; 
--light_green_400_02:#98cc63; 
--blue_gray_500_99:#6e768c99; 
--gray_400_01:#c4c4c4; 
--blue_gray_800_8d:#4047578d; 
--white_A700:#ffffff; 
--blue_gray_400_87:#8692a987; 
--purple_200:#d99bf5; 
--red_300:#db6370; 
--indigo_A200:#4f5df0; 
--orange_300_01:#f0b750; 
--blue_gray_800_04:#354563; 
--blue_gray_800_05:#3d4552; 
--blue_gray_800_02:#40495a; 
--blue_gray_800_03:#2e3c57; 
--light_green_500:#8ec957; 
--light_green_700:#719556; 
--blue_gray_800_06:#2d3c57; 
--blue_gray_600_87:#59637987; 
--blue_gray_800_07:#3e4655; 
--blue_gray_800:#404757; 
--blue_gray_800_7e:#4047577e; 
--red_300_02:#f76c75; 
--blue_gray_800_87_04:#40475787; 
--blue_gray_800_87_02:#2d3c5787; 
--blue_gray_800_87_03:#35304d87; 
--blue_gray_400:#7e8aa8; 
--blue_gray_800_87_01:#40495a87; 
--gray_900_87:#1e243187; 
--blue_gray_600:#596379; 
--gray_900:#1e2431; 
--red_300_01:#ff6c75; 
--blue_gray_800_01:#343b48; 
--orange_300:#f0b650; 
--gray_300:#dee5e8; 
--indigo_700_87:#245a9187; 
--blue_gray_800_87:#35456387; 
--black_900_33:#00000033; 
--black_900_77:#00000077; 
--blue_400:#3399ff; 
--blue_gray_900_aa:#2c3342aa; 
--indigo_500:#466ea2; 
}